<div class="view-wrapper">
    <ul class="filter-buttons">
        <li>
            <div class="button button-filter-on">
                Cocktails
            </div>
        </li>
        <li>
            <div class="button button-filter-on">
                Mocktails
            </div>
        </li>
        <li>
            <div class="button button-filter-on">
                Milkshakes
            </div>
        </li>
        <li>
            <div class="button button-filter-off">
                Smoothies
            </div>
        </li>
        <li class="reload">
            <div class="button">
                Reload
            </div>
        </li>

    </ul>
    <div class="drinks-area">
        <div ng-repeat="drink in drinks" class="drink-box">
            <a ng-click="goToDrink(drink.id)">
                <div>
                    <img src="{{drink.url}}">
                    <h1 class="name">{{drink.name}}</h1>
                    <div class="drink-info">
                        <p class="description"><strong>{{drink.description}}</strong></p>
                        <p class="ingredients">Rum, Coke, More Rum, More Coke</p>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a ng-click="goToDrink(0)">
                <div class="drink-box new-drink-button">
                    <i class="glyphicon glyphicon-plus text-muted"></i>
                </div>
            </a>
        </div>
    </div>
</div>