<div class="view-wrapper">
    <div class="drink-header">
        <img src="{{drink.URL}}">
        <h1>
            {{drink.Name}}
        </h1>
    </div>
    <div class="drink-settings">
        <div class="navigation-buttons">
            <div class="button general button-active-view" ng-click="goToTab('general')">General</div>
            <div class="button ingredients" ng-click="goToTab('ingredients')">Ingredients</div>
            <div class="button equipment" ng-click="goToTab('equipment')">Equipment</div>
            <div class="button steps" ng-click="goToTab('steps')">Steps</div>
            <div class="button skills" ng-click="goToTab('skills')">Skills</div>
            <div class="button flags" ng-click="goToTab('flags')">Flags</div>
        </div>
        <div class="option-area general-area" ng-show="tab=='general'">
            <span>Name</span>
            <br/>
            <input type="text" placeholder="Drink Name" ng-model="drink.Name">
            <br/>
            <br/>
            <span>Flavour Text</span>
            <br/>
            <textarea class="flavour-text" placeholder="Flavour Text for the search screen." ng-model="drink.FlavourText"></textarea>
            <br/>
            <br/>
            <span>Description</span>
            <br/>
            <textarea class="flavour-text" placeholder="Drink Description for drink screen." ng-model="drink.Description"></textarea>
            <br/>
            <br/>
            <span style="display: inline-block">Type</span>
            <br/>
            <select class="form-control" ng-options="t as t.Text for t in $root.types" ng-model="type"></select>
            <br/>
            <br/>
            <span style="display: inline-block">Image</span>
            <table>
                <tr>
                    <td>
                        <input type="text" class="image-path" ng-value="drink.newImage" disabled>
                    </td>
                    <td>
                        <div class="button" id="browse-button">Browse</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="option-area ingredients-area" ng-show="tab=='ingredients'">
            <div class="ingredients-list">
                <p>Ingredients</p>
                <div class="list">
                    <div class="contents">
                        <div class="ingredient" ng-repeat="ingredient in Ingredients">
                            {{ingredient.Name}} <br/> {{ingredient.Amount}}
                        </div>
                    </div>
                    <div class="button">
                        +
                    </div>
                    <div class="button">
                        -
                    </div>
                </div>
            </div>
            <div class="ingredient-info">
                <span>Ingredient</span>
                <br />
                <select ></select>
                <br />
                <br />
                <span>Measurement Catagory</span>
                <br />
                <select ></select>
                <br />
                <br />
                <span>Measurement</span>
                <br />
                <select></select>
                <br />
                <br />
                <span>Amount</span>
                <br />
                <input type="number">
            </div>
        </div>
        <div class="option-area equpiment-area" ng-show="tab=='equipment'">
            <div class="equipment-list">
                <p>Equipment</p>
                <div class="list">
                    <div class="contents">
                        <div class="equipment" ng-repeat="equipment in Equipment">
                            {{equipment.Name}}
                        </div>
                    </div>
                    <div class="button">
                        +
                    </div>
                    <div class="button">
                        -
                    </div>
                </div>
            </div>
            <div class="ingredient-info">
                <span>Equipment</span>
                <br />
                <select ></select>
            </div>
        </div>
        <div class="option-area steps-area" ng-show="tab=='steps'">
            <div class="steps-list">
                <p>Steps</p>
                <div class="list">
                    <div class="contents">
                        <div class="step" ng-repeat="step in steps">
                            Step {{$index + 1}}
                        </div>
                    </div>
                    <div class="button">
                        +
                    </div>
                    <div class="button">
                        -
                    </div>
                </div>
            </div>
            <div class="ingredient-info">
                <span>Step</span>
                <br />
                <textarea ></textarea>
            </div>
        </div>
        <div class="option-area steps-area" ng-show="tab=='skills'">
            <div class="skill">
                <input type="checkbox">Muddling
            </div>
        </div>
        <div class="option-area steps-area" ng-show="tab=='flags'">
            <div class="flag">
                <input type="checkbox">Alcoholic
            </div>
        </div>
    </div>
    <div class="drink-footer">
        <a class="button" ng-click="goBack()">
            Cancel
        </a>
        <a class="button button-active-view">
            Submit
        </a>
    </div>
</div>