<div class="view-wrapper">
    <div class="drink-header">
        <img src="{{drink.URL}}">
        <h1>
            {{drink.Name}}
        </h1>
    </div>
    <div class="drink-settings">
        <div class="navigation-buttons">
            <div class="button general button-active-view" ng-click="goToTab('general')">General</div>
            <div class="button ingredients" ng-click="goToTab('ingredients')">Ingredients</div>
            <div class="button equipment" ng-click="goToTab('equipment')">Equipment</div>
            <div class="button steps" ng-click="goToTab('steps')">Steps</div>
            <div class="button skills" ng-click="goToTab('skills')">Skills</div>
            <div class="button flags" ng-click="goToTab('flags')">Flags</div>
        </div>
        <div class="option-area general-area" ng-show="tab=='general'">
            <span>Name</span>
            <br/>
            <input type="text" placeholder="Drink Name" ng-model="drink.Name">
            <br/>
            <br/>
            <span>Flavour Text</span>
            <br/>
            <textarea class="flavour-text" placeholder="Flavour Text for the search screen." ng-model="drink.FlavourText"></textarea>
            <br/>
            <br/>
            <span>Description</span>
            <br/>
            <textarea class="flavour-text" placeholder="Drink Description for drink screen." ng-model="drink.Description"></textarea>
            <br/>
            <br/>
            <span style="display: inline-block">Type</span>
            <br/>
            <select class="form-control" ng-options="t as t.Text for t in $root.types" ng-model="type"></select>
            <br/>
            <br/>
            <span style="display: inline-block">Image</span>
            <table>
                <tr>
                    <td>
                        <input type="text" class="image-path" ng-value="drink.newImage" disabled>
                    </td>
                    <td>
                        <div class="button" id="browse-button">Browse</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="option-area ingredients-area" ng-show="tab=='ingredients'">
            <div class="ingredients-list">
                <p>Ingredients</p>
                <div class="list">
                    <div class="contents">
                        <div ng-hide="ingredient.Method == 'DELETE'" class="item" ng-repeat="ingredient in ingredients" ng-click="selectIngredient($index)">
                            {{ingredient.Name}} <br/> {{ingredient.Amount}} {{ingredient.measurement.Unit}}
                        </div>
                    </div>
                    <div class="button" ng-click="createIngredient()">
                        +
                    </div>
                    <div class="button" ng-click="deleteIngredient()">
                        -
                    </div>
                </div>
            </div>
            <div class="ingredient-info">
                <span>Ingredient</span>
                <br />
                <select ng-disabled="ingredient == null" ng-options="i as i.Name for i in $root.ingredients" ng-model="ingredients[ingredient].ingredient" ng-change="ingredients[ingredient].Name = ingredients[ingredient].ingredient.Name; addIngredientToUpdate()"></select>
                <br />
                <br />
                <span>Measurement Catagory</span>
                <br />
                <select ng-disabled="ingredient == null" ng-options="c as c.Text for c in $root.measurementTypes" ng-model="ingredients[ingredient].mType"></select>
                <br />
                <br />
                <span>Measurement</span>
                <br />
                <select ng-disabled="ingredient == null" ng-options="m as m.Name for m in ingredients[ingredient].mType.measurements" ng-model="ingredients[ingredient].measurement" ng-change="ingredients[ingredient].Unit = ingredients[ingredient].measurement.Unit; addIngredientToUpdate()"></select>
                <br />
                <br />
                <span>Amount</span>
                <br />
                <input ng-disabled="ingredient == null" type="number" ng-model="ingredients[ingredient].Amount" ng-change="addIngredientToUpdate()">
            </div>
        </div>
        <div class="option-area equpiment-area" ng-show="tab=='equipment'">
            <div class="equipment-list">
                <p>Equipment</p>
                <div class="list">
                    <div class="contents">
                        <div ng-hide="eq.Method == 'DELETE'" class="item" ng-repeat="eq in equipmentz">
                            {{eq.Text}}
                        </div>
                    </div>
                    <div class="button" ng-click="createEquipment()">
                        +
                    </div>
                    <div class="button" ng-click="deleteEquipment()">
                        -
                    </div>
                </div>
            </div>
            <div class="ingredient-info">
                <span>Equipment</span>
                <br />
                <select ng-options="e as e.Text for e in $root.equipment" ng-model="$root.eq"></select>
            </div>
        </div>
        <div class="option-area steps-area" ng-show="tab=='steps'">
            <div class="steps-list">
                <p>Steps</p>
                <div class="list">
                    <div class="contents">
                        <div class="item" ng-repeat="step in steps" ng-click="selectStep($index)" ng-hide="step.Method == 'DELETE'">
                            Step {{$index + 1}}
                        </div>
                    </div>
                    <div class="button" ng-click="createStep()">
                        +
                    </div>
                    <div class="button" ng-click="deleteStep()">
                        -
                    </div>
                </div>
            </div>
            <div class="step-info">
                <span ng-hide="step == null">Step <span ng-bind="step+1"></span></span>
                <span ng-show="step == null">No steps for this drink</span>
                <br />
                <textarea ng-disabled="step == null" ng-model="steps[step].Text" ng-change="addStepToUpdate()"></textarea>
            </div>
        </div>
        <div class="option-area steps-area" ng-show="tab=='skills'">
            <div class="skill">
                <input type="checkbox">Muddling
            </div>
        </div>
        <div class="option-area steps-area" ng-show="tab=='flags'">
            <div class="flag">
                <input type="checkbox">Alcoholic
            </div>
        </div>
    </div>
    <div class="drink-footer">
        <a class="button" ng-click="goBack()">
            Cancel
        </a>
        <a class="button button-active-view" ng-click="runUpdate()">
            Submit
        </a>
    </div>
</div>