<div class="view-wrapper">
    <div class="drink-header">
        <img src="http://46.101.52.91/drinKit/images/PlaceHolder.png">
        <h1>
            Drink Name Goes Here
        </h1>
    </div>
    <div class="drink-settings">
        <div class="navigation-buttons">
            <div class="button general button-active-view" ng-click="goToTab('general')">General</div>
            <div class="button ingredients" ng-click="goToTab('ingredients')">Ingredients</div>
            <div class="button equipment" ng-click="goToTab('equipment')">Equipment</div>
            <div class="button steps" ng-click="goToTab('steps')">Steps</div>
            <div class="button skills" ng-click="goToTab('skills')">Skills</div>
            <div class="button flags" ng-click="goToTab('flags')">Flags</div>
        </div>
        <div class="option-area general-area" ng-show="tab=='general'">
            <span>Name</span>
            <br/>
            <input type="text" placeholder="Drink Name">
            <br/>
            <br/>
            <span>Flavour Text</span>
            <br/>
            <textarea class="flavour-text" placeholder="Flavour Text for the search screen."></textarea>
            <br/>
            <br/>
            <span>Description</span>
            <br/>
            <textarea class="flavour-text" placeholder="Drink Description for drink screen."></textarea>
            <br/>
            <br/>
            <span style="display: inline-block">Type</span>
            <br/>
            <select name="drink-type" class="form-control" ng-options="type.Name for type in types"
                    ng-model="$root.drinkType">
            </select>
            <br/>
            <br/>
            <span style="display: inline-block">Image</span>
            <table>
                <tr>
                    <td>
                        <input type="text" class="image-path" ng-value="drink.newImage" disabled>
                    </td>
                    <td>
                        <div class="button" id="browse-button">Browse</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="option-area ingredients-area" ng-show="tab=='ingredients'">
            <div class="ingredients-list">
                <p>Ingredients</p>
                <div class="list">
                    <div class="contents">
                        <div class="ingredient" ng-repeat="ingredient in Ingredients">
                            {{ingredient.Name}} <br/> {{ingredient.Amount}}
                        </div>
                    </div>
                    <div class="button">
                        +
                    </div>
                    <div class="button">
                        -
                    </div>
                </div>
            </div>
            <div class="ingredient-info">

            </div>
        </div>
    </div>
    <div class="drink-footer">
        <a class="button">
            Cancel
        </a>
        <a class="button button-active-view">
            Submit
        </a>
    </div>
</div>