<div class="view-wrapper">
    <ul class="filter-buttons">
        <!--<li>-->
            <!--<div class="button button-filter-on">-->
                <!--Cocktails-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="button button-filter-on">-->
                <!--Mocktails-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="button button-filter-on">-->
                <!--Milkshakes-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="button button-filter-off">-->
                <!--Smoothies-->
            <!--</div>-->
        <!--</li>-->
        <li class="reload">
            <div class="button" ng-click="reload()">
                Reload
                <img src="img/reload.png">
            </div>
        </li>
        <li class="reload">
            <div class="button" ng-click="goToSkills()">
                Skills
            </div>
        </li>

    </ul>
    <div class="list-area">
        <div class="drinks">
            <div ng-repeat="drink in drinks" class="item-box">
                <a ng-click="goToDrink(drink.ID)">
                    <div>
                        <img src="{{drink.URL}}">
                        <h1 class="name">{{drink.Name}}</h1>
                        <div class="drink-info">
                            <p class="description"><strong>{{drink.Description}}</strong></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-box">
                <a ng-click="createDrink()">
                    <div class="new-item-button">
                        <span>+</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>