<div class="view-wrapper">
    <div class="login-door login-door-top">
        <div class="center-dot  bottom-dot">
            <img src="img/icon.png" class="login-logo logo-center">
        </div>
    </div>
    <div class="login-background">
        <div class="center-dot">
            <div class="login-form">
                <div class="center-dot">
                    <div class="login-form-inputs">
                            <input ng-keyup="$event.keyCode == 13 && doLogin()" id="username-box" type="text" placeholder="Username">
                            <input ng-keyup="$event.keyCode == 13 && doLogin()" id="password-box" type="password" placeholder="Password">
                        <a ng-click="doLogin()" class="button login-button">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-door login-door-bottom">
    </div>
</div>
