@font-face {
  font-family: 'PT Sans';
  src: url("fonts/PT_Sans.ttf");
}
html {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  background: -webkit-radial-gradient(center, circle, #1CBDED, #368CB2);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.login-logo {
  position: relative;
  width: 200px;
  height: auto;
}
.logo-center {
  left: -100px;
  top: -100px;
}
.center-dot {
  position: relative;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}
.bottom-dot {
  position: relative;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  top: 100%;
}
.login-door {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 50%;
  z-index: 2;
}
.login-door-top {
  top: 0px;
  background: -webkit-radial-gradient(bottom, circle, #1CBDED, #368CB2);
  z-index: 3;
}
.login-door-bottom {
  bottom: 0px;
  background: -webkit-radial-gradient(top, circle, #1CBDED, #368CB2);
}
.max {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.login-form {
  position: relative;
  left: -300px;
  top: -150px;
  width: 600px;
  height: 300px;
  background: #333 -webkit-linear-gradient(bottom, #333, #2b2b2b);
}
.login-background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: -webkit-radial-gradient(center, circle, #009bcb, #146a90);
}
.login-form-inputs {
  height: 100px;
  position: relative;
  width: 200px;
  left: -100px;
}
.login-form-inputs input {
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
  margin: 4px 0;
}
.button {
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  padding: 5px 20px;
  border: solid 1px #b8b8b8;
  text-decoration: none;
  font: 11px system-ui;
  border-radius: 3px;
  color: black;
  background: #FCFCFC -webkit-linear-gradient(top, #FCFCFC, #dadada);
  text-align: center;
}
.button:hover {
  background: #FCFCFC -webkit-linear-gradient(top, #ffffff, #ebebeb);
}
.button-filter-on {
  color: #EEEEEE;
  background: #63a045 -webkit-linear-gradient(top, #63a045, #417e23);
  border-color: #1f5c01;
}
.button-filter-on:hover {
  background: #63a045 -webkit-linear-gradient(top, #74b156, #528f34);
}
.button-filter-off {
  color: #EEEEEE;
  background: #a0341e -webkit-linear-gradient(top, #a0341e, #7e1200);
  border-color: #5c0000;
}
.button-filter-off:hover {
  background: #a0341e -webkit-linear-gradient(top, #b1452f, #8f230d);
}
.login-button {
  float: right;
  margin-top: 5px;
}
.view-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.filter-buttons {
  margin-right: 40px;
}
.filter-buttons li {
  position: relative;
  display: inline-block;
  width: 100px;
}
.reload {
  float: right;
  height: inherit;
}
.drink-box {
  display: inline-block;
}
.drink-box a > div {
  position: relative;
  margin: 3px 5px;
  border-radius: 3px;
  background: rgba(3, 89, 127, 0.25) -webkit-linear-gradient(top, rgba(20, 106, 144, 0.25), rgba(3, 89, 127, 0.25));
  overflow: hidden;
}
.drink-box a > div .name {
  position: absolute;
  top: 0;
  left: 110px;
  font-size: 20px;
}
.drink-box a > div .description {
  padding: 10px 10px 0 10px;
}
.drink-box a > div .ingredients {
  padding-top: 0px;
  font-style: italic;
  color: #555;
  font-size: 10px;
}
.drink-box a > div .drink-info {
  position: relative;
  margin-top: -5px;
  background-color: #E2E2E2;
}
.drink-box a > div p {
  padding: 10px;
  margin: 0;
}
@media all and (max-width: 800px) {
  .drink-box {
    width: 100%;
  }
}
@media all and (min-width: 801px) {
  .drink-box {
    width: 50%;
  }
}
@media all and (min-width: 1200px) {
  .drink-box {
    width: 33.333%;
  }
}
@media all and (min-width: 1800px) {
  .drink-box {
    width: 25%;
  }
}
.drink-box img {
  width: 100px;
  height: 100px;
}
.drinks-area {
  position: absolute;
  padding: 0 10px 0 10px;
  overflow-y: auto;
  bottom: 0;
  top: 59px;
  left: 0;
  right: 0;
}
